.header{
    display: flex;
    /* width: 100%; */
    color: white;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    overflow-x: scroll;
}

.header{
    -ms-overflow-style: none;/* IE and Edge */
    scrollbar-width:none; /*Firefox*/
}
/* chrome */
.header::-webkit-scrollbar{
    display:none
}
.header-icons{
    display: flex;
    align-items: center;
}
.header-logo>img{
    object-fit: contain;
    height: 45px;
    width: 50px;
}

.header-icon{
    width: 80px;
    text-align: center;
}
.header-icon>p{
    margin-left: auto;
    margin-right: auto;
}